.styledNavbar {
    background-color: rgba(55, 55, 55, 0.25);
    color: rgba(0, 0, 0, 0.05);
    display: inline-flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 20px;
    backdrop-filter: blur(30px) saturate(3);
    width: 40%;
  }
  
  @media (max-width: 560px) {
    .styledNavbar {
      width: 80%;
    }
  }
  
  .styledLink {
    flex: 1;
    text-align: center;
    color: rgba(0, 0, 0, 0.95);
    text-decoration: none;
    padding: 8px 8px;
    font-weight: 500;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color 0.1s ease-out;
  }
  
  .styledLink:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .containerHelper {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0px;
    z-index: 100;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 560px) {
    .containerHelper {
      top: unset;
      bottom: 10px;
      padding: 0;
    }
  }
  
  @media (max-width: 870px) {
    .containerHelper {
      width: 100%;
      padding: 0px;
      text-align: center;
    }
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }